html body {
	color: black;
}
.navbar {
	background-color: #606060;
	border-bottom: 0px;
	padding: 0px;
	min-height: 120px;

}
.navbar-toggle {
	float: left;
	}
.navbar-inverse .navbar-nav > li > a {
	font-size: 20px;
	color: white;
	padding-top: 40px;
}	
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus { 
	color: ed481f;
}
.navbar-brand {
	padding: 0px;
}
.navbar-brand>img {
  margin-top: 2px;
  height: 100px;
  width: auto;
  
}
.navHeaderCollapse {
	border-top: 0px;
}
/*.navbar-header {
	max-height: 50px;
}*/

	

	
}
.carousel img {
	margin: auto;
}
.item {
	width:100%;
	object-fit: scale-down;
}
.carousel .left > i,
.carousel .right > i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.carousel .right > i {
  left: auto;
  right: 20px;
}

h2:hover {
	color: ed481f;
	font-weight: light;
} 
.icons i {
	color: #9a9cb4;
	margin-bottom: 30px;
	background: url(../images/dashed-circle.png) no-repeat center top;
	
	width: auto;
	height: 130px;
	line-height: 130px;
	text-align: center;
	vertical-align: middle;
	margin-left: 0px;
}

.circle {
	margin-top: 50px;
	width: auto;
	height: 130px;
	border: solid ed481f 1px;
	/*border-style: dashed;
	border-radius: 10%;*/
}
.circle i {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}
input:hover {
	box-shadow: 0 0 10px ed481f;
}
/*.social-media {
	background-color: white;
	width: 30%; */
}
.form {
	background-color: ;
	padding: 5px;	
}
.form label {
	color: white;
	font-size: 20px;
	font-weight: lighter;
}
.list_all {
	font-size: 12px;
	color: white;
}
.list_all p {
	color: white;
}
.list_all li {
	list-style: none;
}
.contacts p {
	color: white;
	text-align: center;
}
.footer {
	height: ;
	background-color: #606060;
	padding-top: 30px;
}
.footer p, i {
	font-size: 24px;
	display: inline-block;
}
.footer i {
	font-weight: bold;
	padding-right: 20px;
}
.footer p {
	vertical-align: top;
	color: black;
}
.hr_style { 
	border: 0; 
	height: 2px; 
	background-image: 
	linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
.navbar-toggle {
	margin-top: 20px;
	border: none;
}
.navbar-toggle > .icon-bar {
	background-color: #606060;
}
.clients_img img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.clients_img p {
	font-size: 18px;
	color: ed481f;
	padding: 20px;
}


@media screen and (max-width: 768px) {

	.carousel-inner {
			width: 100%;
			height: 200px;
			
		}
	.carousel .item>img {
			position: absolute;
			top: 0;
			left: 0;
			
			height: 200px;
			min-width: 100%;
			object-fit: cover;
	}
	.navbar-brand>img {
			height: 200%;
			margin: 0;
			width: 100%;
			
	}
	.navbar-inverse .navbar-nav > li > a {
			font-size: 20px;
			color: white;
			padding-top: 0px;
	}
	.navbar-inverse .navbar-nav > li:first-child > a {
			padding-top: 50px;
	}
}